<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917311268349-8r5r1juscq8fdb2s2emstopf749s73fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917311268349-8r5r1juscq8fdb2s2emstopf749s73fs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>917311268349-mshdmu7bmgnebflagbg091ub8ik3c3l4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBatfYTL4sDtQAje9J-iyqpkSnLY0KUxyA</string>
	<key>GCM_SENDER_ID</key>
	<string>917311268349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irfan.toyshare</string>
	<key>PROJECT_ID</key>
	<string>fir-6bea6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-6bea6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917311268349:ios:bb2e06e90a978914ac6594</string>
	<key>DATABASE_URL</key>
	<string>https://fir-6bea6.firebaseio.com</string>
</dict>
</plist>